.container {
  max-width: 42rem;
  margin: 0 auto;
  padding: 1rem;
}

.error {
  color: red;
  margin-top: 1rem;
}

.title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
